<form action="http://delfi.lt/post" method="POST">
    <input type="hidden" name="data" value="">

    <input type="text" name="tel[0]" value="">
    <input type="text" name="tel[1]" value="">
    <input type="text" name="tel[2]" value="">
    <input type="text" name="tel[3]" value="">

    <input type="radio" name="" value="Vyras">
    <input type="radio" name="" value="Moteris">



<hr>

   

    <textarea name="tekstas">
        klasfhoiasfn
    </textarea>
    <input type="checkbox" name="darbuotojas" value="taip">

    
    <button>Išsiusti</button>

</form>



x=&y=&tekstas=kls..